body 

body {
    background-color: #cfd8f9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topnav {
    background-color: #4c75a1;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

h1 {
    color: rgb(81, 29, 129);
    text-align: center;
    margin-top: 20px;
}


  
 h2 {  
     color: rgb(81, 29, 129);
}

h3 {  
    color: rgb(107, 53, 156);
}


img {
    display: block;
border-color: rgb(81, 29, 129);
border-style: solid;
border-width: 4px;
width: 40%;
margin: auto;
margin-top: 10px;

}

<img src="allmypics/Orange Skirt.jpg" alt="An illustration I did."img {
    display: block;
border-color: rgb(81, 29, 129);
border-style: solid;
border-width: 4px;
width: 30%;
margin: auto;

}>

<img.orangeskirt.jpg
{
width:300px;
height:300px;
}
